.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color:azure;
}
.izquierda{
    background-color: blueviolet;
    color:black;
    text-align: center;
    
}
.derecha{
    background-color: brown;
    color: black;
    text-align: center;
}
.span_div{
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}